<h2>New Celebrity</h2>

<form action="/celebrities/create" method="post">
<input type="text" name="name" placeholder="Name">
<input type="text" name="occupation" placeholder="Occupation">
<input type="text" name="catchPhrase" placeholder="CatchPhrase">
<button type="submit">Submit</button>

<a href="/celebrities/">See all the celebrities</a>
<a href="/">Home</a>


</form>